.speech {
  position: absolute;
  font-size: 5vh;
  text-shadow: 0 0 6px #fff;
}

.yo {
  top: 32vh;
  right: 74vh;
}

.hehe {
  top: 29vh;
  right: 98vh;
}

.dem-boys {
  top: 44vh;
  right: 87vh;
}

.neigh {
  top: 40vh;
  right: 162vh;
}

.dank {
  top: 23vh;
  right: 183vh;
}

.weed-shirt {
  top: 23vh;
  right: 230vh;
}

.s-420 {
  top: 46vh;
  right: 262vh;
}

.caught-a-body {
  top: 23vh;
  right: 310vh;
}

.week-ago-1 {
  top: 23vh;
  right: 350vh;
}

.week-ago-2 {
  top: 17vh;
  right: 355vh;
}

.week-ago-3 {
  top: 29vh;
  right: 370vh;
}

.tite {
  top: 23vh;
  right: 1924vh;
}

.tite-2 {
  top: -2vh;
  right: 15vh;
}

.tite-3 {
  top: -2.3vh;
  right: -6vh;
}

.tite-4 {
  top: -6vh;
  right: 16vh;
}

.tite-5 {
  top: -5vh;
  right: -4vh;
}